.team {
  width: 100%;
  background: #282F42;
  border-radius: 6px;
  padding: 2em;
  display: flex;
  justify-content: space-between;
 color: #fff;

  & .logo {
    width: 170px;
    height: 186px;
    background: #171c28;
    border-radius: 50%;
  }

  & .info {
    width: calc(100% - 200px);

    & .info-item {
      border-radius: 6px;
      background: #171c28;
      padding: 1em;
    }

    & .new-team {
      min-height: 45px;
      margin-bottom: .5em;
    }

    & .description {
      min-height: 140px;
    }
  }
}
