.menu {
  width: 100%;
  height: 100%;
  background: #282f42;

  &.MuiList-padding,
  & &-item {
    padding: 0;
  }

  &-link {
    padding: 1.8em 1.3em;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;

    &.true {
      justify-content: flex-start;

      & .link-text {
        opacity: 1;
      }
    }

    & .link-text {
      white-space: nowrap;
      transition: opacity 220ms ease;
      margin-left: 1em;
      opacity: 0;
    }

    &.active, &:hover {
      background: #171c28;
    }
  }
}

