@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "reset";

%containerFLex {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: auto;
}

.container-fluid {
  @extend %containerFLex;
  width: 100%;
}

.container {
  @extend %containerFLex;
  width: 80%;
}

.row{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.col-25{
  width: 23%;
}

.col-33{
  width: 31%;
}

.col-50{
  width: 48%;
}


.row-25 {
  width: 23%;
}

.row-33 {
  width: 31%;
}

.row-50 {
  width: 48%;
}

.ml-1 {
  margin-left: .5em;
}

.mr-1 {
  margin-right: .5em;
}

.mb-1{
  margin-bottom: .5em;
}

.ml-2 {
  margin-left: 1em;
}

.mr-2 {
  margin-right: 1em;
}

.ml-3 {
  margin-left: 1.5em;
}

.mr-3 {
  margin-right: 1.5em;
}

.ml-4 {
  margin-left: 2em;
}

.mr-4 {
  margin-right: 2em;
}

.form-control{
  display: block;
  border: none;
  outline: none;
  border-radius: 6px;
  background: #171c28;
  padding: 1em;
  width: 100%;
  color: #fff;
}




