/**
 * ResetPassword Style
 */

$color-background-logo-button: #5F9F5A;
$color-background-logo-button-hover: #5ac552;
$color-container: #282F42;
$color-field: #171C28;

.forgot-password-container {
  height: 503px;
  width: 503px !important;
  background-color: $color-container;
  border-radius: 3%;
}

.shadow {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}

// Image container
.card-math-img {
  width: 100px;
  height: 100px;
  background: $color-background-logo-button;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.button.MuiButtonBase-root {
  background-color: $color-background-logo-button;
  color: #fff;
  width: 60%;
  display: block;
  margin: 0 auto;
}

.button.MuiButtonBase-root:hover{
  background-color: $color-background-logo-button-hover;
}

// Image container
.MuiGrid-root.card-math-img.image.element.MuiGrid-item {
  margin-top: 3.2em;
  margin-bottom: 1em;
}

// Grid items
.MuiGrid-root.element.MuiGrid-item {
  margin-top: 1em;
}

#img-logo {
  position: relative;
  top: -1px;
  left: 8px;
}

// Pin section
.MuiGrid-root.element.pin-section.MuiGrid-item {
  display: flex;
  margin-top: -8px;
  margin-bottom: 20px;
}

// Pin container
.pincode-input-container {
  display: flex;
  margin: 10px;
}

// Pin input text field
.pincode-input-text {
  background-color: $color-field !important;
  margin: 0 4px !important;
  border-color: $color-field !important;
}

.pincode-input-text:focus {
  border-color: #207ef3de !important;
}

// Image visibily and visibility-off
.MuiInputAdornment-root.MuiInputAdornment-positionStart {
  font-size: 0.9em;
}

// Pin asterisks size is increased
input[type="password"] {
  font-size: 2em;
}

.message {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 1em !important;
}