.footer {
  width: 100%;
  padding: .5em 2em;
  display: flex;
  justify-content: flex-end;
  background: #3C4860;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 51px;
  z-index: 980;
  transition: all .2s ease;
}

@media screen and (min-width: 767px) {
  .footer {
    width: calc(100% - 60px);
    left: 60px;
  }

  .show-menu {
    & .footer {
      width: calc(100% - 200px);
      left: 200px;
    }

  }

}



