.card-math{
   width: 100%;
   background: #3C4860;
   border-radius: 6px;
   height: 100%;

  &-img{
    object-fit: cover;
    border-radius: 6px 6px 0 0;
  }

  &-info{
    padding: 2em 1em;
    color: #fff;
    text-align: center;
  }

  &-title{
    font-size: 1.5em;
  }

  &-text{
    width: 80%;
   margin: auto;
    font-size: .9em;
  }
 }
