.card{
  &.MuiCard-root{
    background: #3c4860;
    width: 150px;
    min-width: 150px;
    margin:  0 1em;
  }

  box-shadow: 0 10px 10px -10px #000;
  &-img{
    height: 150px;
  }

  &-button{
    width: 100%;

    &.MuiButton-root{
      color: #fff;
    }
  }
}

